*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.line{
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: blueviolet;
}

.line-1{
    z-index: 3;
    opacity: 0.5;

}

.line-2{
    z-index: 2;
    opacity: 0.75;
}

.line-3{
    z-index: 1;
}

.wave{
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    transform-origin: center bottom;

}

.wave-1{
    background: url(wave-1.png);
    background-size: 50% 80px;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    animation: animate 9s linear infinite;
}

.wave-2{
    background: url(wave-2.png);
    background-size: 50% 100px;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    animation: animate 12s linear infinite;
}

.wave-3{
    background: url(wave-3.png);
    background-size: 50% 80px;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    animation: animate 18s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateX(-25%) scaleY(0.5);

    }
    100%{
        transform: translateX(-50%);
    }
}
