*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: #94bcdf;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}

.ball-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 47.5vw;
    bottom: 47.5vh;
    height: 5vw;
    width: 5.5vw;
}

.ball{
    position: absolute;
    bottom: 0;
    height: 5vw;
    width: 5vw;
    background-color: #ff1a66;
    border-radius: 50%;
    animation: bounce 1s infinite;
}

.shadow-container{
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 5.5vw;
    bottom: -1.5vw;
    left: 47.5vw;
}

.shadow{
    width: 2vw;
    height: 1vw;
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 50%;
    animation: shadow 1s infinite;
}

@keyframes bounce {
    10% {
        height: 5vw;
        width: 5vw;
    }
    30%{
        height: 5.5vw;
        width: 4vw;
    }
    50%{
        height: 3vw;
        width: 5.5vw;
        transform: translateY(48vh);
        animation-timing-function: cubic-bezier(0.15,0.73,0.36,0.97);
    }
    75%{
        height: 5vw;
        width: 5vw;
    }
    100%{
        transform: translateY(0vh);
        animation-timing-function: cubic-bezier(0.15,0.73,0.36,0.97);
    }
}

@keyframes shadow {
    0% {
        width: 2vw;
        height: 1vw;
        background-color: rgba(0, 0, 0, 0.348);
    }
    50%{
        width: 5.3vw;
        height: 3vw;
        background-color: rgba(0, 0, 0, 0.693);
    }
    100%{
        width: 1.5vw;
        height: 0.5vw;
        background-color: rgba(0, 0, 0, 0.348);
    }
}
