*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.accordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: inherit;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5em;
    color: #444;
    float: right;
}
  
.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 1em;
  background-color: white;
  overflow: hidden;
  display:none;
}
